.myApprovalTbl tbody tr:hover td {
  color: #122b95;
  font-weight: 500;
}

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default.hover {
  background-color: #e7e7e7;
}

.input_blu {
  color: #162cee;
}

.td_txt_bg {
  background-color: #f9f9f9cf !important;
}

.pro_text {
  color: #133ea1;
  font-size: 15px;
  font-weight: 500;
}

.txt-small {
  font-size: 9.5px;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  background-color: transparent;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  border: none;
}

.hist_icon {
  color: #848080de;
  font-weight: 600;
  font-size: 15px;
}

table thead tr th,
tbody tr td {
  text-align: center;
  vertical-align: middle;
}

.form-control:disabled {
  background-color: #f7f7f7;
  opacity: 1;
}

.allTabsDivStructure .nav-tabs .nav-link {
  border-bottom: 1px solid #cdcdcd !important;
  color: #000;
  padding: 5px 25px;
}

/* css added and Commented By Madhuri.K on 23-Aug-2025 */
.li_PS0 {
  padding-right: 15px;
}

.list-group {
  --bs-list-group-border-color: none;
  margin: 0px;
  padding-left: 20px;
}

.list-group-item::before {
  content: "â—";
  margin-right: 0.75rem;
}

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default.hover {
  background-color: #eeeeee;
}

.btncalendar,
.btncalendar:hover,
.btncalendar:active,
.btncalendar.hover {
  background-color: #eeeeee;
}

h2.accordion-header {
  min-width: 100%;
  min-height: 100%;
  line-height: 2.2;
}

.TaskList li {
  padding: 0;
}

.gc-calendar .gc-calendar-header button.prev {
  margin-left: 10px;
  position: static;
}

.gc-calendar .gc-calendar-header button.next {
  margin-left: 0px;
}

.gc-calendar .gc-calendar-header .gc-calendar-month-year {
  line-height: 0;
}

.gc-calendar table.calendar {
  width: 50%;
  margin: auto;
}

a.today {
  background-image: none;
}

a.today span {
  font-size: 13px !important;
  font-weight: 600 !important;
  color: #4263c1 !important;
}

.gc-calendar .gc-calendar-header {
  display: block;
}

/* .bootstrap-select>.dropdown-toggle{
  width: 110px;
} */
.weekly_calender .form-control {
  padding: 6px;
}

.TimesheetTbl tbody tr:last-child td {
  border-bottom: 1px solid #ddd !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
}

.slider:before {
  transform: translateX(-20px);
}

input:checked+.slider:before {
  transform: translateX(20px);
}