/* * {
  font-family: sans-serif !important;
} */
.react-calendar__tile[title] {
  pointer-events: none; /* Disable pointer events to prevent the tooltip */
}

.carousel-indicators {
  display: none;
}
