/*this is common style*/

body {
    font-size: 0.9rem;
    font-weight: 400;
}

body::-webkit-scrollbar {
    display: none;
}


.form-control:focus {
    border-color: #414042 !important;
    box-shadow: none !important;
}

.borderbtnbgblue {
    border: 1px solid #2B55CE;
    background: #2B55CE;
    color: #ffffff;
}

.borderbtnbgblue:hover {
    border: 1px solid #2B55CE;
    background: #284cb4;
    color: #ffffff;
}

.TblBrdrHiden {
    border-style: hidden;
}

.offClose i {
    font-size: 14px;
    text-decoration: none;
}

input[type="checkbox"][disabled] {
    cursor: no-drop;
}

/*Common css added by pradip*/

.bootstrap-select .dropdown-menu {
    max-width: 100%;
}

.bgcolorwhite {
    background: #ffffff;
}

.bglightblue {
    background: #E7EDF0;
}
.bgGrey {
    background: #f2f2f2;
}

.bgskyblue {
    background: #f6fcff;
}

.addBtnWidth {
    width: 150px;
}

.ExportBtnWidth {
    width: 120px;
}

i.arrowBtn {
    font-size: 14px;
}

.alert_Tabs .IM_horizontal_tablinks>li>a {
    color: #414042;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    margin-top: 10px;
}

.alert_Tabs .IM_horizontal_tablinks>li>a.active {
    background-color: #FFF;
    border-radius: 10px 10px 0 0;
}

.IM_tabs .IM_horizontal_tablinks {
    padding: 14px 15px;
    margin: 0;
    gap: 20px;
}

.IM_tabs .IM_horizontal_tablinks>li>a {
    padding: 0 0 2px;
    margin: 0;
    color: #414042;
    font-weight: 400;
    display: block;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    border-radius: 0;
    transition: none;
    /*letter-spacing: 0.235px;*/
}

.IM_tabs .IM_horizontal_tablinks>li:focus,
.IM_tabs .IM_horizontal_tablinks>li:focus-visible {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    transition: none;
}

.IM_tabs .IM_horizontal_tablinks>li>a.active,
.IM_tabs .IM_horizontal_tablinks>li>a:focus,
.IM_tabs .IM_horizontal_tablinks>li>a:focus-visible {
    color: black;
    outline: none;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid #414042;
    background: transparent;
    box-shadow: none;
    transition: none;
    margin: 0;
}

.IM_tabs .IM_horizontal_tablinks>li>a:hover {
    border-bottom: 1px solid #414042;
    color: #414042;
    text-decoration: none;
    outline: none;
    transition: none;
}

/*Top Filters*/

.init_filtersList {
    gap: 20px;
}

.init_filtersList li {
    border: 1px solid #B3B3B3;
    border-radius: 5px;
}

.init_filtersList li a {
    text-decoration: none;
    color: #414042;
    display: block;
}

.init_filtersList li:hover,
.init_filtersList li.active {
    border-color: #414042;
}

.init_filtersList li:hover a,
.init_filtersList li.active a {
    color: #414042;
}

.init_filtersList li:hover a span.fltrcount,
.init_filtersList li.active a span.fltrcount {
    background: #414042;
}

.init_filtersList li:nth-child(1) a span.fltrcount {
    background: #81cf09;
}

.init_filtersList li:nth-child(2) a span.fltrcount {
    background: #2b55ce;
}

.init_filtersList li:nth-child(3) a span.fltrcount {
    background: #f55d30;
}

.init_filtersList li:nth-child(4) a span.fltrcount {
    background: #f5c330;
}

.init_filtersList li.active a {
    font-weight: 600;
}

span.fltrcount {
    /* Auto layout */
    padding: 6px 8px;
    gap: 10px;
    width: 36px;
    height: 34px;
    display: inline-block;
    background: #B3B3B3;
    color: #ffffff;
}

span.fltrtitle {
    padding: 10px;
}

/*End Top Filters*/
.IniCardViewSec .accordion-item {
    border: none;
}

.init_dropdown .dropdown-menu {
    height: auto;
    width: auto;
    border-radius: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #E7EDF0;
    transform: translate3d(-128px, 36px, 0px) !important;
}

/*Initiative buttons*/
.borderbtnblue {
    border: 1px solid #2B55CE;
    color: #2b55ce !important;
}

.borderbtnblue:hover {
    border-color: #2B55CE;
    color: #2b55ce !important;
    background: #F9F9F9;
}

.borderbtnbgblue {
    border: 1px solid #2B55CE;
    background: #2B55CE;
    color: #ffffff !important;
}

.borderbtnbgblue:hover {
    border: 1px solid #2B55CE;
    background: #284cb4 !important;
    color: #ffffff !important;
}

.borderbtnadd {
    border: 1px solid #3586f4; 
    background-color: #3586f4;
    color: #FFF;
}

.borderbtnadd:hover {
    border: 1px solid #3586f4;
    background-color: #3586f4 !important;
    color: #fff !important;
}

.redColor {
    color: #eb1c24;
}

.yellowColor {
    color: #F5C330;
}

.greenColor {
    color: #03BA28;
}

/*//common button*/
.borderbtn {
    background: rgb(255, 255, 255) !important;
    border-color: rgb(19, 89, 166) !important;
    color: rgb(19, 89, 166) !important;
}

.readonly {
    background-color: #d0d5dd !important;
}

.textstrong {
    font-weight: 500;
    /* font-size: 18px; */
    font-size: 13px;
}

.nostylebtn {
    border: none;
    background: none;
    outline: none;
}

button.close.nostylebtn {
    right: 10px;
    background: none;
    border: none;
    position: absolute;
    font-size: 24px;
    z-index: 1;
}

.closelink {
    text-decoration: underline;
}

.closelink:hover {
    text-decoration: underline !important;
    color: #2B55CE;
}

.btn-block {
    display: block;
    width: 100%;
}

/*End button style*/

/*View Changer style*/

.view-changer {
    /* width: 82px;
    height: 41px;*/
    display: flex;
    border: 1px solid #410042;
    border-radius: 5px;
}

.view-changer a {
    width: 34px;
    text-align: center;
    height: 32px;
    line-height: 30px;
    margin-right: -1px;
}

.view-changer a img {
    width: 18px;
}

.view-changer a.cart_view_link {
    background: #2B55CE;
    transform: scale(1.2);
    border-radius: 2px;
}

.view-changer a.active-view {
    background: #2B55CE;
    transform: scale(1.2);
    border-radius: 2px;
}

.divider-line {
    border: 1px solid #ccc;
    width: 1px;
    min-height: 40px;
}

.divider-line {
    border: 1px solid #ccc;
    width: 1px;
    min-height: 40px;
}

/* Alert pop-up css starts here */
.alertMainDiv {
    border-radius: 10px 10px 0 0;
    border: 1px solid #ccc;
}

.alert_table {
    border-style: hidden;
}

/* Alert pop-up css ends here */
/*Initiative Grid Panel*/

/*GridView seprator Table css*/
.addIniTblOuterDiv {
    border: 1px solid #ccc;
}

table thead th {
    font-size: 12px;
    font-weight: 500;
}

table tbody td {
    font-size: 11px;
}

.accordion-button {
    font-size: 13px;
}

a,
p,
span,
div {
    font-size: 12px !important;
}

th.thOuter {
    font-weight: 500;
    vertical-align: middle;
    position: relative;
}

td.tdOuter {
    vertical-align: middle;
}

.intgrid-pan-loop {
    border: 1px solid #ccc;
    border-radius: 8px;
    align-items: center;
}

.init_title_name {
    font-weight: 600;
    font-size: 14px;
}

.init_title_name a {
    text-decoration: underline;
    color: #414042;
}

.font_small {
    font-size: 12px;
    font-weight: 300;
    color: #2B55CE;
}

table.InitGridSep_table {
    border-collapse: separate;
    border-spacing: 0 15px;
    margin-top: -15px;
}

.InitGridSep_table tr {
    border: 1px solid #A8A8AD;
}

.InitGridSep_table th {
    background: #F9F9F9;
}

.table-bordered> :not(caption)>*>* {
    /* border-width: 0 !important;*/
    /* Remove default borders */
    border-top: 1px solid #ccc !important;
    /* Add custom border */
    border-bottom: 1px solid #ccc !important;
    /* Add custom border */
    border-color: #ccc;
}

.InitGridSep_table td:first-child,
.InitGridSep_table th:first-child {
    border-left: 1px solid grey !important;
    /* Add custom border */
}

.InitGridSep_table td:last-child,
.InitGridSep_table th:last-child {
    border-right: 1px solid grey !important;
    /* Add custom border */
}

/*New*/
.InitGridSep_table th:first-child {
    border-radius: 10px 0 0 0;
}

.InitGridSep_table th:last-child {
    border-radius: 0px 10px 0 0;
}

.InitGridSep_table tr.intgrid-pan-loop td.tdOuter:first-child {
    border-radius: 10px 0 0 10px;
}

.InitGridSep_table tr.intgrid-pan-loop td.tdOuter:last-child {
    border-radius: 0px 10px 10px 0px;
}

/*End table css*/
/*Sticky table Style*/
.init-stickytable thead {
    position: sticky;
    top: 0;
    /* background: #F9F9F9; */
    background: #FFF;
    z-index: 100;
}

.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
    background: rgba(0, 0, 0, 0.3);
}

/*End Sticky Table Style*/

/*Action TD*/
.Action_col {
    height: 20px;
    min-width: 140px;
}

.Action_col a {
    width: 15px;
    height: 15px;
    margin-left: 1rem;
}

.Action_col a:first-child {
    margin-left: 0;
}

/*End TD*/

/*Legends*/
.gridlegends {
    font-size: 12px;
}

.legendList {
    width: 150px;
    display: inline-block;
    text-align: left;
    font-weight: 300;
}

.legendSquare {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #414042;
    vertical-align: middle;
}

.lgdGreen {
    background: #03bb29;
}

.lgdYellow {
    background: #F5C330;
}

.lgdOrng {
    background: #f55c30;
}

.lgdGray {
    background: #e7e7e7;
}

/*End Legends style*/

/*Initiative Grid Stages start here*/
.igph_title .col label {
    font-weight: 300;
}

.igph_title .col span {
    font-weight: 500;
}

/*Initiative-stages*/

.initiativestages {
    max-width: 90%;
    margin: 0 auto;
    padding-right: 10px;
}

.initiativestages .sbar {
    border-radius: 12px;
    border: 1px solid #999;
    margin-right: -15px;
    height: 15px;
    line-height: 15px;
}

.initiativestages .sbar-gray {
    background: #ddd;
    color: #FFF;
}

.initiativestages .sbar-orange {
    background: #fbb03b;
    color: #FFF;
}

.initiativestages .sbar-green {
    background: #81cf09;
    color: #FFF;
}

.initiativestages .sbar-red {
    background: #eb1c24;
    color: #FFF;
}

.initiativestages .sbar.sbar-current {
    position: relative;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #464a4c;
    /*text-shadow: 0px 0px 0.8px #464a4c;*/
    font-size: 12px;
    /*padding-right: calc(var(--bs-gutter-x) * 1.5);
            padding-left: calc(var(--bs-gutter-x) * 1.5);*/
    width: 33.33333333%;
    flex: 0 0 auto;
}

.sbar.sbar-current {
    min-width: 140px;
}

.initiativestages .sbar>a {
    display: block;
    color: #464a4c;
    font-size: 10px;
    text-decoration: none;
}

/*End style*/

/*Initiative custom modal popup bs5*/
.Initcustmodal .modal-content .modal-header {
    display: block;
    background: #4263c1;
    border: none;
    color: #FFF;
    border-radius: 12px 12px 0 0;
    padding: 10px;
    text-align: center;
}

.Initcustmodal h5.modal-title {
    /* font-size: 18px; */
    font-size: 16px;
    font-weight: 600;
}

.Initcustmodal .modal-content {
    border-radius: 14px !important;
    border: 1px solid #414042;
}

.Initcustmodal .modal-content .modal-header .close {
    color: #FFF;
    box-shadow: none;
    border: none;
    font-size: 24px;
    text-shadow: none;
    opacity: 1;
    position: absolute;
    top: 8px;
    right: 15px;
    background: transparent;
}

.modal-content .modal-header button.close>span {
    font-size: 22px !important;
}

.Initcustmodal .modal-footer {
    border: none;
}

/*End modal popup style*/

/*pagination style*/

.Init_pagination ul {
    margin: -2px 15px 0px;
    padding: 0;
    list-style: none;
    text-align: center;
    max-width: 410px;
    float: right;
    background-color: #ffffff;
    border: 1px solid #410042;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
}

.Init_pagination li {
    display: inline-block;
    margin-right: 5px;
}

.Init_pagination li a,
.Init_pagination li span {
    color: #666;
    padding: 0px 3px;
    text-decoration: none;
    /*border: 1px solid #EEE;
	background-color: #FFF;
	box-shadow: 0px 0px 10px 0px #EEE;*/
}

.Init_pagination .current {
    color: #135a9c;
    font-weight: bold;
    /*background-color: #FF7182;
	border-color: #FF7182;*/
}

.Init_pagination li a:hover {
    color: #135a9c;
}

/* .Init_pagination .prev.current,
.Init_pagination .next.current {
    background: #e04e60;
} */

.Init_pagination li.active span.current.prev {
    color: #414042;
    cursor: not-allowed;
    font-weight: 300;
}

.Init_pagination li.active span.current.next {
    color: #414042;
    cursor: not-allowed;
    font-weight: 300;
}

/*End pagination style*/

/************Expandable Search Box*****************/
.search-box {
    /* position: absolute;
    top: 50%;
    right: 50%; */
    transform: translate(0%, 0%);
    background: transparent;
    height: 34px;
    border-radius: 40px;
    padding: 6px;
    border: 1px solid transparent;
}

.search-box:hover {
    border: 1px solid #414042;
}

.search-box:hover>.search-text {
    width: 130px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: transparent;
    color: black;
    /*border: 1px solid #414042;*/
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #410042;
    font-size: 12px;
    font-weight: normal;
    transition: 0.4s;
    width: 0px;
    /*   width: 250px; */
}

.translateMiddle {
    transform: translateY(-130%);
}

/*****Accordian Panel********/
.Init_acordian_panel .accordion-button {
    background: #F9F9F9;
    color: #414042;
    font-weight: 500;
    padding: 10px;
}

.Init_acordian_panel .accordion-button:not(.collapsed) {
    color: #414042;
}

.Init_Steps_acordian .accordion-button {
    background: #E7EDF0;
    color: #414042;
    font-weight: 500;
    padding: 10px;
    font-size: 12px;
}

.Init_Steps_acordian .accordion-button:not(.collapsed) {
    color: #414042;
}

.Init_Steps_acordian .accordion-item {
    border: none;
}

/************End Accordian Panel*****************/
.addIniOffcanvas {
    --bs-offcanvas-width: 50%;
}

.discThreadOffcanvas,
.iniDetailsOffcanvas {
    --bs-offcanvas-width: 70%;
}

/*Comment Section start here*/

.allConvDetails .card {
    border: none;
}

.allConvDetails .card-footer {
    border: none;
    background-color: #E7EDF0;
    /* margin-left: 1rem; */
    /* padding: 1rem 2rem; */
    position: fixed;
    bottom: 5px;
    width: 68%;
}

.allConvDetails .card-footer .postcmt {
    background-color: #F5C330;
    color: #FFF;
}

.allConvDetails .card-footer .postreply {
    background-color: #F5C330;
    color: #FFF;
}

.allConvDetails .form-group {
    min-width: 100%;
}

.conversationModel .modal-content .modal-header {
    display: block;
    background: #4263c1;
    border: none;
    color: #FFF;
    padding: 10px;
    text-align: center;
}

.conversationModel h5.modal-title {
    font-size: 18px;
    font-weight: 600;
}

/* .allConvDetails.modal-content {
    height: 625px;
} */

.allConvDetails .modal-body,
.allConvDetails .inner-card {
    padding-bottom: 7rem;
    /* overflow: scroll; */
}

.allConvDetails textarea {
    min-width: 97%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid #B3B3B3;
}

.allConvDetails textarea:focus {
    border: 3px solid #B3B3B3;
}

.allConvDetails textarea::placeholder {
    opacity: 0.5;
}

#ini_code_div p {
    font-size: 16px;
    font-weight: 600;
    text-align: right;
}

span.redText {
    color: #eb1c24;
}

span.usernameshort {
    /* width: 50px; */
    width: 35px;
    /* height: 50px; */
    height: 35px;
    /* line-height: 50px; */
    line-height: 32px;
    color: #FFF;
    display: block;
    border-radius: 100%;
    text-align: center;
    margin: 20px 0 0;
    border: 1px solid #eee;
    font-size: 18px;
    font-weight: 900;
    text-transform: capitalize;
}

span.inner_username {
    /* width: 50px;
    height: 50px;
    line-height: 50px; */
    width: 35px;
    height: 35px;
    line-height: 32px;
    color: #FFF;
    display: block;
    border-radius: 100%;
    text-align: center;
    margin: 5px 0 0;
    border: 1px solid #eee;
    font-size: 18px;
    font-weight: 900;
    text-transform: capitalize;
}

span.span_reply {
    color: #4263c1;
    font-style: italic;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
}

.circle-bggreen {
    background: #4bc5c6;
}

.circle-bgblue {
    background: #4263c1;
}

h5.card-title.coment_header {
    /* font-size: 14px; */
    font-size: 12px;
    margin-bottom: 5px;
}

.coment_content {
    /* font-size: 12px; */
    font-size: 11px !important;
}

span.commentdate {
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
    /* float: right; */
}

.commenttext {
    border: 1px solid #ccc;
}

.comment_Actions button {
    color: #4263c1;
}

.comment_Actions button:hover {
    color: #2B55CE;
}

.commentbox .commentbox {
    margin-left: 60px;
}

/* .commentbox .card-body {
    border: 1px solid #ccc;
} */

.replycomment button i {
    margin-right: 10px;
}

.replycomment {
    margin: 15px 0 10px;
}

/*Comment Section End here*/

.count-2 {
    column-count: 2;
}

.buttonlist>button {
    display: inline-block;
    width: 46px;
}

.input-group.date span.input-group-text {
    border-radius: 0px 4px 4px 0;
}

/*datatble style custom*/
.dataTables_wrapper {
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 0 0;
}

.dataTables_wrapper table {
    border-style: hidden;
    margin-bottom: 0;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 15px 0 0;
}

.dataTable {
    width: 100% !important;
}

ul.pagination {
    border: 1px solid;
    width: auto;
    display: inline-flex;
    border-radius: 4px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination a.page-link {
    font-size: 12px;
    font-weight: 500;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .active>.page-link,
div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-link.active {
    background: transparent;
    border: none;
    color: #4263c1;
    font-weight: 900;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination a:focus {
    outline: none;
    box-shadow: none;
}

/*Datatable style end*/

/****************Added by Madhuri *********************************/

/**************start select-with dropdown *****************************/

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: #ffffff;
    border-color: #414042 !important;
    color: #414042 !important;
}

.btn-light {
    border: 1px solid #ced4da;
    background-color: #FFF;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #FFF;
}

.bootstrap-select .no-results {
    padding: 4px;
    background: #dfdfdf;
    margin: 0 9px;
    font-size: 14px;
    border-radius: 5px;
}

/**************end select-with dropdown *****************************/

.content .search {
    position: relative;
}

.searchdrop {
    text-decoration: none;
    color: #808080d4;
}

.searchdrop:hover {
    text-decoration: none;
    color: #808080d4;
}

.options li {
    color: #524f4f;
    font-size: 14px;
}

.options li:hover {
    color: #1b1b1b;
    background-color: #e3e3e3;
}

/************Expandable Search Box*****************/

.searching-box {
    padding: 4px;
    top: 581px;
    transform: translate(0%, 0%);
    background: transparent;
    height: 34px;
    border-radius: 40px;
    border: 1px solid transparent;
}

.searching-box:hover {
    border: 1px solid #414042;
}

.searching-box:hover>.searching-text {
    width: 254px;
    padding: 0 6px;
}

.searching-box:hover>.searching-btn {
    background: transparent;
    color: black;
    /*border: 1px solid #414042;*/
}

.searching-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #410042;
    font-size: 12px;
    font-weight: normal;
    transition: 0.4s;
    width: 0px;
}

/**********End Expandable search style************/
/**************** Added by Gauri *********************************/

/* E-Dashboard style starts here */
.IniTabList {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 8px;
}

.project-bar {
    border: 1px solid #CCCCCC;
    padding: 20px;
    margin-right: -1px;
    margin-bottom: -1px;
    position: relative;
}

.refresh_icon {
    padding-right: 15px;
    cursor: pointer;
}

.legends-div {
    flex-wrap: wrap;
}

.legends-div .legends {
    display: flex;
    padding: 10px;
}

.legends-div .legend-box {
    width: 25px;
    height: 20px;
    background-color: #2B55CE;
}

.legends-div .green-box {
    /* background-color: #03BA28; */
    background-color: #16872d;
}

.legends-div .yellow-box {
    background-color: #F5C330;
}

.legends-div .red-box {
    /* background-color: #F55D30; */
    background-color: #F08000;
}

.legends-div .blue-box {
    background-color: #2B55CE;
}

.legends-div .sky-box {
    background-color: #239b9b;
}

.legends-div .voilet-box {
    background-color: #b364fa;
}

.legends-div .lightsky-box {
    background-color: #63c5ff;
}

.legends-div .legends .l-name {
    margin-left: 10px;
    width: 70px;
    flex-grow: 1;
}

/* E-Dashboard style ends here */

/* Warehouse page grid view style starts here */
.view-changer .gridViewImg {
    height: 30px !important;
    width: 100% !important;
}

.wCard {
    padding: 25px;
}

h6.card-title {
    font-size: 0.8rem;
}

.btn {
    font-size: 0.8rem;
}

.IniCardView .wCard .card {
    /* min-height: 19.5rem; */
    min-height: 14rem;
}

.greenBrdr {
    border: 1px solid #03BA28;
}

.yelllowBrdr {
    border: 1px solid #F5C330;
}

.redBrdr {
    border: 1px solid #F55D30;
}

.CardViewTxt {
    font-size: 12px;
    /* font-size: 11px; */
}

.card-img {
    /* margin-top: -25px; */
    margin-top: -18px;
    margin-left: 15px;
    /* z-index: 100; */
}

.IniCardView .card-header {
    padding: 0;
    background-color: #FFF;
}

.CardViewIniImg {
    /* width: 50px; */
    width: 35px;
    height: auto;
    border-radius: 50%;
    padding: 5px;
}

.CardViewIconImg {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.CardViewProfile .CardViewIconImg {
    border-radius: 50%;
}

.cardIniCode {
    color: #414042;
}

.CardViewTitle {
    font-weight: 600;
    /* font-size: 14px; */
    font-size: 11px;
}

.CardViewProfile {
    border-top: 1px solid rgba(0, 0, 0, 0.175);
}

/* .loadBtnsTxt:hover{
    background-color: #2b55ce;
    color: #FFF !important;
    transform: scale(1.025);
} */

.fontIcnSize {
    padding: 0px 15px 0 5px;
}

.fontIcnsSize {
    padding: 0px 10px 0 3px;
}

/* Warehouse page Grid view style ends here */

/* Warehouse page list view style starts here */

.table_wrapper,
.table_wrapper_nested {
    border: 1px solid #eee;
    border-radius: 10px 10px 0px 0px;
}

.table_wrapper tbody>tr,
.table_wrapper_nested tbody>tr {
    height: 45px;
}

.table_wrapper tbody tr:nth-child(odd)>td {
    background-color: #f7f7f7 !important;
}

.table_wrapper_nested tbody tr:nth-child(even)>td {
    background-color: #f7f7f7 !important;
}

.offTable_wrapper {
    border: 1px solid #eee;
    border-radius: 10px 10px 0px 0px;
}

.offTable_wrapper tbody tr:nth-child(odd)>td {
    background-color: #f7f7f700 !important;
}

/* Warehouse page list view style ends here */

.init_grid_panel {
    border-radius: 10px 10px 0px 0px;
}

.tbodycost tr:nth-child(odd) {
    background-color: #E7EDF0;
}

.tbodyworkorder tr:nth-child(odd) {
    background-color: #E7EDF0;
}

.tbodyfunding tr:nth-child(odd) {
    background-color: #E7EDF0;
}

.tbodyROI tr:nth-child(odd) {
    background-color: #E7EDF0;
}

.tbodystage tr:nth-child(odd) {
    background-color: #E7EDF0;
}

.tbodytimeline tr:nth-child(odd) {
    background-color: #E7EDF0;
}

.filter-option-inner-inner {
    color: #7e7d7d;
    /* font-size: 14px; */
    font-size: 12px;
    font-weight: 400;
}

.bootstrap-select .dropdown-menu li a {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #E7EDF0;
    color: black;
}

.bootstrap-select .dropdown-menu li a span.text {
    /* font-size: 0.9rem; */
    font-size: 0.7rem;
}

.main_approval {
    color: #1e8813;
    /*margin: -15px;*/
}

#currentstage,
#logo_upload {
    text-decoration: none;
}

.IM_label {
    /* font-size: 14px; */
    font-size: 12px;
    font-weight: 500;
}

.form-control {
    /* font-size: 14px; */
    font-size: 11px;
}

.drop-zone {
    max-width: 363px;
    height: 86px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #9da7cd;
    border: 2px dashed #5878ac;
    border-radius: 20px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #CCCCCC;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

.form-group .required .form-label:after {
    content: "*" !important;
    color: #ff0000;
}

#Logo_header {
    height: 35px;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    background: #E7EDF0;
}

thead.theadmain {
    height: 55px;
}

a {
    color: #414042 !important;
}

.fscroll {
    padding: 0px 20px 30px 20px;
}

.input-group-text {
    background-color: #fff !important;
}

.pgdetailinner {
    padding: 20px;
}

.Resourcedetailpanel .tab-pane {
    padding: 20px 0;
}

.workorderdetailpanel.tab-pane {
    padding: 20px 0;
}

.Funding.tab-pane {
    padding: 20px 0;
}

.tab-pane {
    padding: 20px 0;
}

.Resourcedetailpanel,
.workorderdetailpanel,
.Fundingdetailpanel,
.ROIdetailpanel,
.AddRiskdetailpanel,
.AddActiondetailpanel {
    display: none;
    margin: 50px 15px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

ul.nav.nav-tabs.detailsubtabs {
    background-color: #ddd;
    margin: -20px;
    padding: 10px 10px 0;
    border-radius: 4px 4px 0 0;
}

.tab-content.detailsmenutab {
    margin: 9px;
}

.form-check-input:checked {
    background-color: #808183;
    border-color: #808183;
}

.form-check-input:focus {
    box-shadow: none;
}

.datepicker {
    padding: 0px;
}

.nav-tabs {
    --bs-nav-tabs-border-width: 0px;
}

.sm-wid .custom_chckbox label:before {
    margin-right: 0;
    border: 1px solid #464a4c;
}

.d-flex.forwardarrow {
    position: relative;
    top: -3%;
}

.workflowmain_stagesshow {
    margin: -12px;
    margin-top: -26px;
    font-size: 60px !important;
}

.row.forwardarrowsetting {
    margin-top: 30px;
}

.col-sm-3.stageswidthpart1 {
    margin-left: 24px;
}

.col-sm-2.stageswidthpart2 {
    margin-left: 73px;
}

/* .scrollbar {
    display: none;
} */

.form-select:focus {
    border-color: #414042 !important;
    box-shadow: none !important;
}

/* Action Items page style starts here */
td>.inner_title {
    font-size: 16px;
    font-weight: 500;
}

#actionItemAccordion .accordion-button {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

td.delete_checkbox {
    vertical-align: middle;
}

i.down_arrow {
    position: absolute;
    right: 20px;
    top: 3px;
    font-size: 1.2em;
}

.rotateArrow {
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
}

.mainActionRow.collapsed i,
.mainAuditRow.collapsed i,
.CollapsedRow.collapsed i {
    transform: rotate(0deg);
}

.mainActionRow:not(.collapsed) i,
.mainAuditRow:not(.collapsed) i,
.CollapsedRow:not(.collapsed) i {
    transform: rotate(180deg);
}

ul.stageActionList,
ul.auditActionList {
    list-style-type: none;
    padding-left: 0;
    gap: 25px;
    flex-wrap: wrap;
}

ul.stageActionStatus {
    list-style-type: none;
    padding-left: 0;
    gap: 45px;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 18px;
}

ul.stageActionStatus>li span.completed_txt {
    color: #81cf09;
}

ul.stageActionStatus>li span.initiated_txt {
    color: #eb1c24;
}

/* ul.stageActionList > li{
    color: #414042;
    font-size: 12px;
} */

tr.stageRowPagnLast>td,
tr.auditRowPagnLast>td,
tr.snoozeRowPagnLast>td {
    border-style: hidden !important;
}

.verticalTabs {
    width: 30%;
    justify-content: space-between;
}

.verticalTabs .nav-link.active,
.verticalTabs .show>.nav-link {
    color: #284cb4;
    font-weight: 600;
    /* font-size: 15px; */
    font-size: 12px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.verticalTabs .nav-link {
    color: #000;
    /* font-size: 14px; */
    font-size: 12px;
    padding: 0;
    cursor: pointer;
    /* border: 1px solid #f7f7f7; */
}

.verticalTabs {
    min-height: 280px;
}

.actionTableMainTab {
    min-height: 400px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

ul.InfoList {
    list-style-type: none;
    padding-left: 0;
    gap: 25px;
    flex-wrap: wrap;
}

/* ul.InfoList > li{
    color: #414042;
    font-size: 12px;
} */


.wordBreak {
    word-break: break-all;
}

/* Action Items page style ends here */

/**************** Added by Gauri *********************************/

.accordianinfopanel .panel.panel-default {
    padding: 0px 0px 0 0;
    position: relative;
    /*    margin: 0 0 15px;
*/
}

.panel-group .panel {
    border-radius: 7px;
}

.panel.panel-default {
    margin: 10px 0px;
    padding: 6px;
    background-color: #e5eeef;
    border-color: #ddd;
    border: 1px solid #ddd;
}

.accordianinfopanel .panel-default>.panel-heading {
    padding-right: 35px;
    background: #E7EDF0;
}

.panel-heading {
    border-bottom: 1px solid transparent;
}

.panel-title {
    font-size: 14px;
    color: inherit;
    font-weight: 500;
}

/******************stages green progress-bar**********************/
.current-stages1 {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    position: relative;
    padding: 1rem 1rem 2.5rem;
}

.progress_green {
    background-color: #03BA28 !important;
    border-radius: 10px;
    border-right: solid 1px #414042;
    width: 45%;
}

.half_progress_green {
    width: 50%;
}

.half_progress_green1 {
    width: 75%;
}

.progress_red {
    background-color: #F55D30 !important;
    border-radius: 10px;
    border-right: solid 1px #414042;
    width: 35%;
}

.main_progress {
    border-radius: 10px;
    border: solid 1px #414042;
    background-color: #B3B3B3;
    height: 16px;
}

/*.progress-bar {
    background-color: #03BA28!important;
}*/
/*****************End*************************/
.current-stages2 {
    position: relative;
}

/******************stages red progress-bar**********************/
.current-stages3 {
    position: relative;
}

.Prioritizationcheck1 {
    border: 1px solid #ddd !important;
    border-radius: 10px;
}

.responsive-priority {
    margin: 10px 10px 10px 0px;
}

a.historyicon {
    margin-right: 15px;
}

/* .ini_code_sec {
    margin: 37px;
} */
.ini-code-div {
    margin: 10px 15px 0 0;
}

.IM_tabs,
.IM_document {
    position: sticky;
    top: 0;
    z-index: 1;
}

.autodata_flow1 {
    margin-top: 70px;
    border: 1px solid #078e38 !important;
    background-color: #f2fdef;
}

.autodata_flow2 {
    margin-top: 25px;
    border: 1px solid #e28d23 !important;
    background-color: #efdccc;
}

.graybg {
    background: #E7EDF0 !important;
}

.charthistory {
    background-image: linear-gradient(to top,
            #2d76ff,
            #7abbfb,
            #95d3ff,
            #b6d9ed,
            #f7f7f7);
}

.charthistory {
    width: 990px !important;
    height: 494px !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.btnyellow {
    background-color: #fbce3a !important;
    color: #fff !important;
}

.btnyellow:hover {
    background-color: #fbce3a !important;
    color: #FFF;
}

/**************** Added by Gauri *********************************/

/* Watchlist Configuration page style starts here */
table.InitReallocation_table {
    border-collapse: separate;
    border-spacing: 0;
    /* margin-top:-15px; */
}

/* .InitReallocation_table tr {
    border: 1px solid #A8A8AD;
} */

.InitReallocation_table th {
    background: #ffffff;
}

/* .InitReallocation_table td:first-child,
.InitReallocation_table th:first-child {
    border-left: 1px solid grey;
}

.InitReallocation_table td:last-child,
.InitReallocation_table th:last-child {
    border-right: 1px solid grey;
} */

/*New*/
.InitReallocation_table th:first-child {
    border-radius: 10px 0 0 0;
}

.InitReallocation_table th:last-child {
    border-radius: 0px 10px 0 0;
}

.InitReallocation_table tr.intgrid-pan-loop td.tdOuter:first-child {
    border-radius: 10px 0 0 10px;
}

.InitReallocation_table tr.intgrid-pan-loop td.tdOuter:last-child {
    border-radius: 0px 10px 10px 0px;
}

tr.PageRowPagnLast1>td {
    border-style: hidden !important;
}

.font-weight-600 {
    font-weight: 600;
}

.selectedApproverDiv {
    padding: 0.5rem;
}

.current-txt {
    font-size: 14px;
    color: #284cb4;
}

.note-txt {
    font-size: 12px;
    color: #284cb4;
}

span.note-title {
    font-weight: 600;
    font-size: 16px;
}

tr.IR_Row {
    background-color: #ecf9ff;
}

/* ul.IR_Stageboxes{
    list-style-type: none;
    padding-left: 0;
    gap: 25px;
    flex-wrap: wrap;
} */
.bgSkyBlue {
    background: #f3f7f9;
}

.StageboxDiv {
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 3px;
}

.Ratingbox {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.StageboxCircle {
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 3px;
    border-radius: 50%;
}

.clearedStage {
    background-color: #81cf09;
}

.pendingStage {
    background-color: #F5C330;
}

.currStage {
    background-color: #f55c30;
}

.clearedStage1 {
    background-color: #03BA28;
}

.pendingStage1 {
    background-color: #F5C330;
}

.currStage1 {
    background-color: #F55D30;
}

.notstartStage {
    background-color: #B3B3B3;
}

.notstartStage1 {
    background-color: #B3B3B3;
}

.selectedApproverDiv li {
    display: inline-block;
}

.sApproverDetails .approverImg {
    /* display: block;
    margin: 0 auto; */
    width: 25px;
    border-radius: 50%;
}

.sApproverDetails span {
    font-size: 16px;
    font-weight: 600;
}

i.fa-regular.fa-lightbulb {
    background-color: yellow;
    border-radius: 60px;
    font-size: 16px;
}

#stages-div .stage-title h5 {
    /* font-size: 16px; */
    font-size: 13px;
}

#stages-div1 .stage-title h5 {
    font-size: 16px;
}

th.thOuter {
    padding: 1rem 0.5rem;
}

td.tdOuter {
    padding: 0.3rem 0.5rem;
}

.rotateArrowUp {
    --bs-accordion-btn-icon-transform: rotate(0deg);
}

.rotateArrowDown {
    --bs-accordion-btn-icon-transform: rotate(-180deg);
}

/* Watchlist Configuration page style ends here */

.requiredTxt {
    color: #ff0000 !important;
}

/* Initiative Prioritization page style starts here */
.dateCol {
    width: 11%;
}

.stickyHeader {
    position: sticky;
    top: 0;
    background-color: #FFF;
    z-index: 1;
}

table.details-table tr>td:first-child,
table.details-table tr>td:last-child {
    width: 50%;
}

td.angle-right-arrow i {
    border: 1px solid #eee;
    font-size: 14px !important;
    padding: 2px;
}

.innerTable-title {
    font-size: 14px;
    font-weight: 500;
}

.pgdetailinner i.down_arrow {
    font-size: 12px;
}

.progress-bar {
    border-radius: 10px;
    border-right: solid 1px #414042;
}

.progress_bar75 {
    width: 75%;
}

.progress_bar67 {
    width: 67%;
}

.progress_bar50 {
    width: 50%;
}

.iniTextDropdown li {
    font-size: 16px;
}

.indent_space {
    text-indent: 10px;
}

.barGraphCost {
    position: relative;
    height: 50vh;
    width: 50vw;
    margin: 0 auto;
}

.blueDiv {
    display: inline-block;
    width: 25px;
    height: 7px;
    background-color: DodgerBlue;
    border-radius: 1px;
}

.greenBg {
    background-color: #dcffd4 !important;
}

/* Initiative Prioritization page style ends here */

/* Initiative Management Card view page style starts here */
.progress_bar .stage_boxes .stageColor a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

.stage_boxes {
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    /* padding-right: 10px; */
}

.stage_boxes>.stageColor {
    width: 28%;
    height: 15px;
    border: 1px solid #414042;
    /* position: relative; */
    border-radius: 15px;
    margin-right: -15px;
    height: 15px;
    line-height: 15px;
}

.stage_boxes .green_box {
    background-color: #03BA28;
}

.stage_boxes .green_box1 {
    z-index: 99;
}

.stage_boxes .green_box2 {
    z-index: 98;
}

.stage_boxes .green_box3 {
    z-index: 97;
}

.stage_boxes .green_box4 {
    z-index: 96;
}

.stage_boxes .green_box5 {
    z-index: 95;
}

.stage_boxes .yellow_box {
    background-color: #F5C330;
    z-index: 91;
}

.stage_boxes .red_box {
    background-color: #F55D30;
}

.stage_boxes .red_box1 {
    z-index: 89;
}

.stage_boxes .red_box2 {
    z-index: 88;
}

.stage_boxes .grey_box {
    background-color: #E7E7E7;
}

.stage_boxes .grey_box1 {
    z-index: 69;
}

.stage_boxes .grey_box2 {
    z-index: 68;
}

.stage_boxes .grey_box3 {
    z-index: 67;
}

.stage_boxes .grey_box4 {
    z-index: 66;
}

.stage_boxes .grey_box5 {
    z-index: 65;
}

.stage_boxes .grey_box6 {
    z-index: 64;
}

.stage_boxes .grey_box7 {
    z-index: 63;
}

.stage_boxes .grey_box8 {
    z-index: 62;
}

.stage_boxes .grey_box9 {
    z-index: 61;
}

.stage_boxes .grey_box10 {
    z-index: 60;
}

.stage_boxes .grey_box11 {
    z-index: 59;
}

.stage_boxes .grey_box12 {
    z-index: 58;
}

.iniTxt {
    /* font-size: 16px; */
    font-size: 12px;
    font-weight: 500;
}

.skyTxt {
    color: #239b9b;
}

.orangeTxt {
    color: #F55D30;
}

/* Initiative Management Card view page style ends here */

/* Initiative Linking page style starts here */
.linkProgOffcanvas {
    --bs-offcanvas-width: 50%;
}

h5.offcanvasTitle {
    /* font-size: 18px; */
    font-size: 13px;
    margin-bottom: 0px;
}

.programsOffcanvas {
    --bs-offcanvas-width: 80%;
}

.detailTreeBtns {
    display: flex;
    /* margin-left: 50px; */
    float: right;
    gap: 15px;
    font-size: 12px;
}

.AddChildContent {
    padding: 5px 20px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.iniLinkingTree {
    margin: 0;
    padding: 0;
    list-style: none;
}

.iniLinkingTree ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 1em;
    position: relative;
}

.iniLinkingTree ul ul {
    margin-left: 0.5em;
}

.iniLinkingTree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid;
}

.iniLinkingTree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0;
}

.iniLinkingTree ul li:last-child:before {
    background: #fff;
    height: auto;
    top: 1em;
    bottom: 0;
}

/* .iniLinkingTree ul li:last-child:hover::before {
    background: #ececec;
    height: auto;
    top: 1em;
    bottom: 0;
} */
.iniLinkingTree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    /* color: #369; */
    position: relative;
}

.iniLinkingTree li .expand {
    display: block;
}

/* .iniLinkingTree li .collapse {
    display: none;
} */
.iniLinkingTree li a.treeLink {
    text-decoration: none;
    /* color: #369; */
}

.indicator {
    margin-right: 5px;
}

.moduleIcon {
    font-size: 18px;
    font-weight: 600;
    /* color: #b73a3a; */
    color: #4263c1;
}

.InitiativesImg,
.projImg,
.MilestoneImg,
.deliverableImg {
    width: 20px;
    height: 25px;
    /* filter: brightness(1.5) drop-shadow(2px 3px 6px yellow); */
}

/* Initiative Linking page style ends here */

/**************** Added by Gauri *********************************/

/* Initiative Report page style starts here */
h5.pgtitle {
    margin: 6px 0 0;
    font-weight: 500;
    /* font-size: 16px; */
    font-size: 13px;
}

.downLinks ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 10px;
}

.downLinks li:first-child {
    border-right: 1px solid #999;
}

.downLinks li {
    padding-right: 10px;
}

.downLinks a {
    text-decoration: none;
}

.top-note,
.bottom-note {
    font-size: 12px;
}

.bottom-note {
    position: fixed;
    bottom: 5%;
    font-size: 12px;
    width: 96%;
}

span.note-title {
    font-size: 14px;
    font-weight: 700;
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.IMrequired>.required:after {
    content: "*" !important;
    color: #ff0000;
}

.OntrakSquare {
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #414042;
    vertical-align: middle;
}

.trackGreen {
    border: none;
    background: #0aa92a;
}

.trackRed {
    border: none;
    background: #fa5828;
}

.trackyellow {
    border: none;
    background: #F5C330;
}

/* Initiative Report page style ends here */
#Note_header {
    height: 35px;
}

#Logo_header {
    height: 35px;
    background-color: #E7EDF0;
}

.text_blue {
    color: #6e8fef;
}

.grid_stages_master {
    border: 1px solid #e25e5e;
    padding: 15px;
    text-align: center;
    background-color: #df84844d;
}

/**************** Added by Madhuri *********************************/


/* Nature of Initiatives page css starts here */

.fw-500 {
    font-weight: 500;
}

.InitGridSep_table th,
.InitGridSep_table td {
    padding: 15px 10px;
}

.offcanvas.NOI-offcanvas {
    --bs-offcanvas-width: 70%;
}

.offcanvas-body {
    padding: 0;
    overflow-x: hidden;
}

.closeWindowBtn {
    opacity: 1;
    border: none;
    color: #414042;
}

.closeWindowBtn:focus {
    outline: 0;
    box-shadow: none;
}

.closeWindowBtn:hover {
    opacity: 1;
    color: #414042;
}

.NOI_Details {
    height: 100%;
    width: 100%;
    background-color: #F9F9F9;
}

.NOI_Details_Header {
    padding: 25px 20px;
    align-items: center;
}

.NOI_HeaderBtns {
    gap: 10px;
}

.greyBorder {
    border-right: 1px solid #CCC;
}

.Overlay-title {
    font-size: 22px;
    font-weight: 600;
    color: #414042;
}

.NOI_MainHeader {
    display: flex;
    align-items: center;
}

.row-disabled {
    opacity: 0.4;
    pointer-events: none;
    width: 100%;
}

/*.NOI_Details_content {
    position: relative;
    top: 10%;
    width: 100%;.NOI_Detailsubtabs
    margin-top: 15px;
}*/
.NOI_Detailsubtabs {
    position: relative;
    background-color: #F9F9F9;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 5px 0;
    align-items: center;
}

.NOI_Detailsubtabs .savebtn {
    position: absolute;
    right: 30px;
}

.NOI-nav-tabs a.active {
    text-decoration: underline;
    font-weight: 600;
}

.StageConfigurationSec .IM_tabs {
    background-color: #F9F9F9;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.StageConfigurationSec .NOI_DetailsTabs a.active {
    font-weight: 600;
}

@media screen and (max-height: 450px) {
    .NOI_Details a {
        font-size: 20px
    }

    .NOI_Details .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* ----------------------------------------- */

.active-dropdown {
    border-right: 1px solid #B3B3B3;
}

.leftTabArrow {
    font-size: 18px;
    color: #414042;
}

.rightTabArrow {
    font-size: 12px;
    color: #414042;
}

.NOI-title {
    font-size: 18px;
    font-weight: 600;
}

.NOI-InnerTitle {
    font-size: 14px;
    /*font-weight: 600;*/
}

.NOI-InnerTitle.active {
    /*font-size: 14px;*/
    font-weight: 600;
}

.NOI-InnerTitle2 {
    font-size: 13px;
    font-weight: 600;
}

.fs-13 {
    font-size: 13px;
}

.brdr-left {
    border-left: 1px solid #B3B3B3;
}

.bgGreyRow {
    background-color: #E7E7E7;
}

.bgLightGrey {
    background-color: #E7EDF0 !important;
}

.DefineRuleTable {
    border-bottom-style: hidden;
}

.DefineRuleTable1 tr:first-child {
    border-bottom-style: hidden;
    border-right: 1px solid #B3B3B3;
}

/* .defineLabel1{
    border-right: 1px solid #B3B3B3;
} */

.insertInputBox {
    height: 70px;
}

.NOI_NoteTxt {
    font-size: 12px;
    /*font-weight: 500;*/
}

/*.NOI-offcanvas .offcanvas-body {
    overflow: hidden;
}*/

.main-content {
    transition: margin-left 0.3s ease-in-out;
}

.overlay-active .main-content {
    margin-left: 250px;
}

.custom-file-upload::-webkit-file-upload-button {
    display: none;
}

/* Nature of Initiatives page css starts here */
.offcanvas-body {
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
}

.offcanvas-50 {
    --bs-offcanvas-width: 50%;
}

.offcanvas-65 {
    --bs-offcanvas-width: 65%;
}

.offcanvas-70 {
    --bs-offcanvas-width: 70%;
}

.offcanvas-90 {
    --bs-offcanvas-width: 90%;
}

.offcanvas-85 {
    --bs-offcanvas-width: 85%;
}

/*    form Discussions start */
.allConvDetails .card-footer {
    width: 67%;
}

.circle-bgpink {
    background: #f578cf;
}

.circle-bgorange {
    background: #f98843;
}

.circle-bgyellow {
    background: #f9e143;
}

.circle-bggrey {
    background: #8b8b8b;
}

/*    form Discussions end */

.offcanvas_footer {
    position: fixed;
    bottom: 0;
    margin: 10px;
}


ul.nav.nav-tabs.detailsubtabs {
    background: none;
    margin: -1px -1px;
    padding: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
}

.nav-tabs .nav-link {
    margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
}

.nav-link active {
    border: 1px solid #ddd;
    border-bottom: none !important;
}

.nav-tabs {
    --bs-nav-tabs-border-width: 1px;
}

.stageGridPanel {
    overflow: hidden;
    /*    border-radius: 10px 10px 0px 0px;*/
}

.init_mobGrid_panel {
    overflow: auto;
    /*    border-radius: 10px 10px 0px 0px;*/
}

/* Initiative graphical representation on list view css start */
.IniCardsAcc .card {
    flex: 1;
}

.IniCardsAcc .card-header {
    font-weight: 500;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.graphSection1 {
    position: relative;
    height: 38vh;
    width: 26vw;
}

.graphSection2 {
    position: relative;
    height: 25vh;
    width: 25vw;
}

.progress_NatureInit {
    height: 12px;
}

.progress_text {
    font-size: 10px;
}

.progress_grid1 {
    background-color: #16872d;
    width: 95%;
}

.progress_grid2 {
    background-color: #F5C330;
    width: 75%;
}

.progress_grid3 {
    background-color: #F08000;
    width: 55%;
}

.progress_grid4 {
    background-color: #239b9b;
    width: 40%;
}

.progress_grid5 {
    background-color: #b364fa;
    width: 30%;
}

.project_graphSection {
    position: relative;
    height: 38vh;
    width: 40vw;
}

/* Initiative graphical representation on list view css end */

/* Configuartion Module css start */
.inactiveIcn {
    color: #c50008;
    font-size: 12px;
}

.activeIcn {
    color: #269b0b;
    font-size: 12px;
}

.matr_box_link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.RatingModalBox {
    width: 50px;
    height: 30px;
}

.RatingModalBox+span {
    font-size: 10px !important;
}

/* Configuartion Module css end */